body {
  font-family: 'Open Sans', sans-serif; }

header {
  border-bottom: solid 1px lightgray; }
  header ul.left-nav a {
    font-size: 11px;
    color: #777777 !important; }
    header ul.left-nav a a:hover {
      color: #777777 !important; }
  header ul.right-nav li {
    color: inherit;
    border-radius: 5px; }
    header ul.right-nav li a {
      color: #777777 !important; }
    header ul.right-nav li a:hover {
      color: white !important; }
  header ul.right-nav li:hover {
    background-color: #1ccdca; }
