//Global

body{
  font-family: 'Open Sans', sans-serif;
}
//

//Header
$header_text_color: #777777;

header{
  border-bottom: solid 1px lightgray;
  ul.left-nav{
    a{
      font-size: 11px;
      color: $header_text_color !important;
      a:hover {
        color: $header_text_color !important;
      }
    }
  }
  ul.right-nav{
    li{
      color: inherit;
      border-radius: 5px;
      a{
        color: $header_text_color !important;
      }
      a:hover{
          color: white !important;
      }
    }
    li:hover{
      background-color: #1ccdca;
    }
  }
}






